*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
min-height:100vh;
}

/* APP */

.app{
display:flex;
min-height:100vh;
}

/* SIDEBAR */

.sidebar{
width:230px;
background:#1e1e2f;
color:white;
padding:25px;
}

.sidebar h2{
margin-bottom:30px;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
padding:12px;
margin-bottom:10px;
border-radius:6px;
cursor:pointer;
transition:.3s;
}

.sidebar li:hover{
background:#6a11cb;
}

/* MAIN */

.main-content{
flex:1;
padding:30px;
background:#f4f4f4;
overflow:auto;
}

.header{
margin-bottom:20px;
}

/* PAGE */

.page{
display:none;
}

.active-page{
display:block;
}

/* TODO CONTAINER */

.todo-container{
background:white;
padding:25px;
width:100%;
min-height:70vh;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,.15);
}

/* INPUT */

.input-group{
display:flex;
gap:10px;
margin-bottom:20px;
}

.input-group input{
flex:1;
padding:15px;
border-radius:6px;
border:1px solid #ccc;
}

.input-group button{
padding:14px 20px;
background:#6a11cb;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

.input-group button:hover{
background:#4b0bb0;
}

/* LIST */

.todo-list{
list-style:none;
}

.todo-list li{
display:flex;
justify-content:space-between;
align-items:center;
background:#f4f4f4;
padding:12px;
border-radius:6px;
margin-bottom:10px;
flex-wrap:wrap;
}

.todo-list label{
display:flex;
gap:8px;
align-items:center;
}

/* DELETE */

.delete-btn{
background:red;
color:white;
border:none;
padding:8px 10px;
border-radius:6px;
cursor:pointer;
}

.delete-btn:hover{
background:darkred;
}

/* COMPLETED */

.todo-list input:checked + span{
text-decoration:line-through;
color:gray;
}

/* SETTINGS */

.settings-container{
background:white;
padding:25px;
width:100%;
max-width:500px;
margin:auto;
border-radius:12px;
}

.setting-item{
display:flex;
flex-direction:column;
margin-bottom:18px;
}

.setting-item label{
margin-bottom:6px;
font-weight:600;
}

.setting-item input{
padding:10px;
border-radius:6px;
border:1px solid #ccc;
}

.toggle-setting{
flex-direction:row;
justify-content:space-between;
align-items:center;
}

.save-btn{
margin-top:10px;
padding:10px;
border:none;
background:#6a11cb;
color:white;
border-radius:6px;
cursor:pointer;
}

.save-btn:hover{
background:#4d0ea8;
}

/* MOBILE */

@media(max-width:768px){

.app{
flex-direction:column;
}

.sidebar{
width:100%;
text-align:center;
}

.sidebar ul{
display:flex;
justify-content:space-around;
}

.sidebar li{
margin:0;
font-size:14px;
}

.main-content{
padding:15px;
}

}

@media(max-width:500px){

.input-group{
flex-direction:column;
}

.input-group button{
width:100%;
}

}